/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
  font-size: 1.2rem;
  background: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 10px;
}

p {
  padding: 10px 10px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 10px 20px;
}

a {
  text-align: center;
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  margin-bottom: 10px;
}

#clips {
  background: green;
  color: #f4f4f4;
  transition: all 0.5s;
  position: absolute;
  right: 20px;
}

#clips:hover {
  background: #fff;
  color: #333;
}

#main-logo {
  width: 140px;
  height: 70px;
}

.part-img {
  width: 300px;
  height: 300px;
  padding-bottom: 5px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: #fff;
}

.clips-container ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

#clips-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 0.7rem;
  }

  .clips-container ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
  }

  .flex-columns .row {
    flex-direction: column;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

  body {
    /* font-size: 1rem; */
    max-width: 100vw;
  }
}
